# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# macOS system files
.DS_Store

# IDEs
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Project logs, videos, and figures
videos/
*.mp4
*.avi
logs/
